.backgound-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 726px;
    width: 1520px;
    color: grey;
  }

  .header {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    color: #D60000;
    -webkit-text-stroke: 2px black;
  }

.top-links{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-links-option, li {
    float: left;
    border-right:1px
}

.top-links-option, li a {
    display: block;
    color: #D60000;
    font-size: 40px;
    text-align: center;
    padding: 50px 50px;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
}

li {
    border-right: 3px solid #D60000;
  }
  
  li:last-child {
    border-right: none;
  }
  